.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notFoundimg {
  width: 70%;
  max-width: 600px;
}

.cardheading {
  margin-right: 15px;
  color: #551e53;
  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
}
